/* NAVBAR */
.navbar{
    background: linear-gradient(to right, #5EA6CF, #4FA3D1);
}

.navbar .nav-link,
.navbar-brand{
    color:white !important;
}

/* MAIN BUTTON STYLE */
.btn-main{
    background: linear-gradient(to bottom, #4FA3D1, #2E79B7);
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.btn-main:hover{
    background: linear-gradient(to bottom, #3C93C7, #2569A8);
    transform: translateY(-2px);
}


.hero{
    background: url('static/images/lotus-design-n-print-VaGdhK-kI1c-unsplash.jpg') center center / cover no-repeat;
    height: 90vh;
    position: relative;
    color: white;
}


/* Card Buttons */
.card .btn{
    background: linear-gradient(to bottom, #4FA3D1, #2E79B7);
    color:white;
    border:none;
}

.card .btn:hover{
    background: linear-gradient(to bottom, #3C93C7, #2569A8);
}

/* Send Enquiry Button */
.contact-box .btn{
    background: linear-gradient(to bottom, #4FA3D1, #2E79B7);
    color:white;
    border:none;
}

.contact-box .btn:hover{
    background: linear-gradient(to bottom, #3C93C7, #2569A8);
}

/* Footer */
footer{
    background: #2E79B7;
    color:white;
}
